<h1>Students</h1>
<% @students.each do |student| %>
  <h4><%= student.name %></h4>
  <ul>
    <li><%= student.age %></li>
    <li><%= student.house %></li>
  </ul>
<% end %>
<p>Average age: <%= @avg_age %></p>
